.comment {
  padding: var(--mantine-spacing-lg) var(--mantine-spacing-xl);

  &[data-active] {
    & {
      border: 2px solid red;
    }
  }
}

.body {
  padding-left: rem(54px);
  font-size: var(--mantine-font-size-sm);
}
